@import url('https://fonts.google.com/specimen/Red+Hat+Display?classification=Display&stroke=Sans+Serif');

body {
    background-color: black;
    color: wheat;
    font-family: 'Varela Round', sans-serif;
}